<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title>
      MAscotas QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" >

  <ion-segment [(ngModel)]="segment" node="ios" >
    <ion-segment-button value="scan">
      <ion-label>Mascota</ion-label>
    </ion-segment-button>
    <ion-segment-button value="propietario">
      <ion-label>Propietario</ion-label>
    </ion-segment-button>
  </ion-segment> 


  <div class="segment" *ngIf="segment === 'scan' ">
    <div class="segment-content" >

      <img src="assets/images/scan-qr.webp" alt="">
      <h6 class="scan-label">Escanee El QR</h6>
      <ion-row>
        
        <ion-col size="6">
          <ion-button (click)="starScan()" class="submit" expan="block">
            Scan QR
            <ion-icon slot="end" name="scan-outline"></ion-icon>
          </ion-button>
        </ion-col>


        <ion-col size="6">
          <ion-button class="submit" expan="block">
            Selecionar
            <ion-icon slot="end" name="image-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
      <!-- scan resultado -->
       <ion-item class='result' *ngIf="scanResult" line="none" >
        <ion-label>
          <p>Scan Resultado</p>
          <div>{{scanResult}}</div>
        </ion-label>
       </ion-item>


       <ion-card *ngIf="placaDatos ">
        <ion-card-header>
          <ion-card-title>Datos de la Placa </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          



          <p><strong>Empresa de Transporte:</strong> {{ placaDatos.nomEmpresaTransporte }}</p>
          <p><strong>Zona de Trabajo:</strong> {{ placaDatos.zonatrabajo }}</p>
          <p><strong>Placa:</strong> {{ placaDatos.placa }}</p>
          <p><strong>Tipo de Documento del Propietario:</strong> {{ placaDatos.tipodocPropietario }}</p>
          <p><strong>Documento del Propietario:</strong> {{ placaDatos.docPropietario }}</p>
          <p><strong>Conductor:</strong> {{ placaDatos.conductor }}</p>
          <p><strong>DNI del Conductor:</strong> {{ placaDatos.dniConductor }}</p>
          <p><strong>Licencia del Conductor:</strong> {{ placaDatos.licenciaConductor }}</p>
          <p><strong>Verificación de Afiliado:</strong> {{ placaDatos.verAfiliado }}</p>
          <p><strong>Usuario de Creación:</strong> {{ placaDatos.usuarioCreacion }}</p>
          <p><strong>Estado:</strong> {{ placaDatos.activo }}</p>
          <p><strong>Padron:</strong> {{ placaDatos.padron }}</p>
        </ion-card-content>
      </ion-card>
      

  <!-- Mostrar mensaje si no hay datos -->
  <ion-card *ngIf="noplaca">
    <ion-card-header>
      <ion-card-title>No se encontraron datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>La placa no está registrada o ocurrió un error al consultar.</p>
    </ion-card-content>
  </ion-card>




    </div>
  </div>
  
  <div class="segment" *ngIf="segment === 'propietario' ">
    <div class="segment-content">

      <div id="qrImage">
        <div class="d-flex-center">
          <div class="d-flex-center qr-wrapper">
            <qr-code value="Hello world!" 
         size="190" 
         errorCorrectionLevel="M" />

          </div>

        </div>  

      </div>

    </div>

  </div>
  
</ion-content>
